* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
:root {
  --accentclr: #154935;
  --accentclr2: #365d4e;
  --fontclr: #7bffcc;
  --fontclr2: #84b1a0;
  --smallfont: 1rem;
  --medfont: 1.2rem;
  --largefont: 2rem;
}
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, var(--accentclr), var(--fontclr2));
}
#wrapper {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
main {
  height: 75%;
}

/* Header */
header {
  height: 10%;
  padding: 15px;
  font-size: var(--largefont);
  font-weight: bolder;
  text-align: center;
  align-content: center;
  margin-bottom: 20px;
}
header a {
  text-decoration: none;
  color: var(--accentclr);
}

/* Scoreboard */
#info {
  background-color: var(--accentclr);
  height: 15%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
}
.playerinfo {
  color: var(--fontclr);
  text-align: center;
}
.pname {
  font-size: var(--medfont);
}
.pscore {
  font-size: var(--largefont);
}
#msgbox {
  color: var(--fontclr2);
}

/* Player forms */
form {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: var(--accentclr);
  font-size: medium;
}
.playerform *:not(input[type="radio"]) {
  margin-right: 5px;
}
input[type="text"] {
  width: 300px;
  height: 35px;
  outline: none;
  border: 3px solid var(--accentclr);
  border-radius: 10px;
  text-align: center;
  background-color: var(--accentclr2);
  color: var(--fontclr);
  margin-bottom: 15px;
  transition:
    0.5s background-color,
    border-color;
}
input[type="text"]:focus {
  background-color: var(--fontclr2);
  border-color: var(--fontclr);
  transition:
    0.5s background-color,
    border-color;
}
input[type="radio"] {
  accent-color: var(--accentclr);
}
#btnstart {
  width: 15%;
  height: 10%;
  outline: none;
  color: var(--fontclr);
  background-color: var(--accentclr2);
  border: 3px solid var(--accentclr);
  border-radius: 5px;
  transition:
    0.5s background-color,
    border-color;
}
#btnstart:hover,
#btnstart:focus {
  transform: scale(1.1);
  background-color: var(--fontclr2);
  border-color: var(--fontclr);
  transition:
    0.2s transform,
    background-color,
    border-color;
}

/* Game board */
.board {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}
.cell {
  width: 100px;
  height: 100px;
  border: 3px solid var(--accentclr);
}
